{% extends "layout.html" %}
{% block content %}
        <br>
        <p>Please enter site latitude and longitude</p>
        <form method="POST" action="/">
          <!--class form-group is BS class with default styling-->
          <div class="form-group">
            <input type="text" class="form-control" id="latitude" placeholder="Enter site latitude:"  name="latitude">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="longitude" placeholder="Enter site longitude:" name="longitude">
          </div>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
{% endblock %}