<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--chart.js link-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--jquery must be above BS link-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--bootswatch themed copy of BS4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <!--BS javascript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <title>peak sunshine hours: {%title%}</title>
</head>
<body>
  <nav style="height:auto" class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">peak sun hours</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">home</a>
        </li>
      </ul>
    </div>
  </nav>
      
    <main class = "container" style="height: 80vh; background-color: green">
        <p>main</p>
    </main>

    <footer class="container-fluid" style="height: 10vh;">
        <p>footer</p>
    </footer>

    