<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--jquery must be above BS link-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--bootswatch themed copy of BS4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <!--BS javascript-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav style="height:auto" class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">peak sun hours</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">home</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="chart1" style=" height: 80vh;">
            <canvas id="myChart" width="40" height="40"></canvas>
        </div>

        <div class = "table1">
            <table class="table table-condensed" style="font-size: 10px;">
                <thead>
                  <tr>
                    <th>month</th>
                    <th>sun hours</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                <tr>
                    <td>2</td><td>69</td>
                </tr>
                
                </tbody>
              </table>
        </div>
        
        <div class="footer" style="align-self: flex-end;">
            <p>FOOTER</p>
        </div>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            // jinja to plug in python lists of plot data passed to this template
                //labels: {{month_data}},
                labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                datasets: [{
                    //label: false,
                    //data: {{irrad_data}},
                    data: [10,20,30,40,50,60,50,40,30,20,10,5],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {maintainAspectRatio: false,
                        responsive: true,
                scales: {
                    yAxes: [{scaleLabel: {
                        display: true,
                        labelString: 'peak sun hours'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                        display: true,
                        labelString: 'month'
                        }
                    }],
                }
            }
        });
    </script>
    
</body>
</html>